<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code, id: :user_zip_code %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <div class="select_bday">
      <%= form.date_select :birthday, start_year: 1990, id: :user_birthday %>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Back', users_path, class: "btn" %>
    <%= form.submit class: "btn" %>
  </div>
<% end %>
