<p id="notice"><%= notice %></p>

<div class="table">
  <div class="table-row">
    <div>First</div>
    <div>Last</div>
    <div>Email</div>
    <div>Zip Code</div>
    <div>Birthday</div>
    <div>Registered?</div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="table-body">
    <% @users.each do |user| %>
      <div class="table-row">
        <div>
          <span class="label">First Name:</span>
          <%= user.first_name %>
        </div>
        <div>
          <span class="label">Last Name:</span>
          <%= user.last_name %>
        </div>
        <div>
          <span class="label">Email:</span>
          <%= user.email %>
        </div>
        <div>
          <span class="label">Zip Code:</span>
          <%= user.zip_code %>
        </div>
        <div>
          <span class="label">Birthday:</span>
          <%= user.birthday %>
        </div>
        <div>
          <span class="label">Registered?:</span>
          <%= user.registered_to_vote? %>
        </div>
        <div><%= link_to 'Show', user %></div>
        <div><%= link_to 'Edit', edit_user_path(user) %></div>
        <div><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New User', new_user_path, class: "btn" %>
