<p id="notice"><%= notice %></p>

<div class="table">
  <div class="table-row">
    <div>First name</div>
    <div>Last name</div>
    <div>Email</div>
    <div>Zip code</div>
    <div>Birthday</div>
    <div>Registered to Vote</div>
  </div>
  <% @users.each do |user| %>
    <div class="table-row">
      <div><%= user.first_name %></div>
      <div><%= user.last_name %></div>
      <div><%= user.email %></div>
      <div><%= user.zip_code %></div>
      <div><%= user.birthday %></div>
      <div><%= user.registered_to_vote? %></div>
      <div><%= link_to 'Show', user %></div>
      <div><%= link_to 'Edit', edit_user_path(user) %></div>
      <div><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<%= link_to 'New User', new_user_path, class: "btn" %>
