<!DOCTYPE html>
<html>
  <head>
    <title>FairviewVotesRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Fariview Votes</h1>
    <% flash.each do |message_type, message| %>
      <div class="flash flash-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
